<!DOCTYPE html>
<html>
<head>
    <title>Junior Light Test Task</title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <script type="text/x-template" id="modal_template">
        <div class="modal">
            <form class="modal__container" method="post" action="https://jkorpela.fi/cgi-bin/echo.cgi">
                <button class="form__close-button btn-close" @click="() => $emit('close')"
                        aria-label="Close alert" type="button" data-close><span class="form__close-cross"></span>
                </button>
                <h1>Title form</h1>

                <text-field id="firstName" label="First Name" type="text"
                            :required="true" :error="firstNameError" v-model="firstName"></text-field>
                <text-field id="lastName" label="Last Name" type="text"
                            :required="true" :error="lastNameError" v-model="lastName"></text-field>
                <text-field id="email" label="user@gmail.com" type="email"
                            :required="true" :error="emailError" v-model="email"></text-field>

                <div class="form__row">
                    <label for="productSelector" class="form__text">Product type *</label>
                    <custom-select
                            :options="productOptions"
                            :optionToString="option => option
                            ? `${option.name} $${option.cost}`
                            :'Select product type'"
                            @input="option => selectedProductOption = option"
                            :error="productOptionError"
                    ></custom-select>
                </div>
                <div class="form__row"
                     v-for="feature in additionalFeatures"
                >
                    <label class="form__text">{{ `${feature.name} for $${feature.cost}` }}</label>
                    <label class="form__toggle-switch">
                        <input type="checkbox"
                               v-model="selectedFeatures"
                               :name="feature"
                               :value="feature">
                        <span class="form__toggle-slider"></span>
                    </label>
                </div>
                <div class="form__text-field-container">
                    <textarea class="form__textarea form__text-field-input"
                              v-model="comment"
                              id="commentTextArea"
                              placeholder=" "
                              rows="4"
                    ></textarea>
                    <label class="form__text-field-label" for="commentTextArea">Type your comment</label>
                </div>
                <div class="form__row">
                    <label class="form__text">Total price</label>
                    <div class="form__text">{{ `$${totalPrice}` }}</div>
                </div>
                <div class="center">
                    <button class="form__submit-button" type="submit" @click="e => submitForm(e)">Send form</button>
                </div>
            </form>
        </div>
    </script>
    <script type="text/x-template" id="text_field">
        <div class="form__text-field-container">
            <input class="form__text-field-input" v-model="textModel" :type="type" :name="id" :id="id" placeholder=" " :required="required"/>
            <label class="form__text-field-label" :for="id">{{ label + (this.required ? ' *' : 'f') }}</label>
            <p class="form__text-field-input-error">{{error}}</p>
        </div>
    </script>
    <script type="text/x-template" id="custom_select">
        <div class="form__custom-select" :tabindex="tabindex" @blur="() => open = false">
            <div class="form__custom-select-selected" :class="{ open: open }" @click="() => open = !open">
                {{ optionToString(selected) }}
                <i :class="`arrow ${open ? 'up' : 'down'}`"></i>
            </div>
            <div class="form__custom-select-items" :class="{ selectHide: !open }">
                <div
                        v-for="(option, i) of options"
                        :key="i"
                        @click="
                            selected=option;
                            open = false;
                            emitSelected();"
                >
                    {{ optionToString(option) }}
                </div>
            </div>
            <p class="form__text-field-input-error">{{error}}</p>
        </div>
    </script>
</head>
<body>

<div id="app">
    <button @click="() => showModal = true">Show modal</button>
    <modal v-if="showModal" @close="() => showModal = false"></modal>
</div>

<script src="https://unpkg.com/vue@3.0.5"></script>
<script src="app.js"></script>


</body>
</html>