*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-weight: bolder;*/
    font-size: 14px;
}

h1 {
    font-size: 28px;
}

.form__close-cross {
    position: absolute;
    right: 20px;
    top: 0px;
    width: 10px;
    height: 10px;
    opacity: 0.3;
}

.form__close-button:hover > .form__close-cross,
.form__close-cross:hover {
    opacity: 1;
}

.form__close-cross:before, .form__close-cross:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 24px;
    width: 1px;
    background-color: #333;
}

.form__close-cross:before {
    transform: rotate(45deg);
}

.form__close-cross:after {
    transform: rotate(-45deg);
}

.form__close-button {
    position: absolute;
    right: 12px;
    top: 12px;
    float: right;
    margin: 0;
    background: transparent;
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
}


input[type="text"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.modal__container {
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    position: fixed;
    transform: translate(-50%, -50%);
    width: 580px;
    top: 50%;
    left: 50%;
    padding: 24px;
}


.form__textarea {
    width: 100%;
    margin-bottom: 3rem;
    padding: 1.5rem 0.75rem 0.5rem;
    display: block;
    height: 100%;

    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.25rem;
    border: 1px solid #bdbdbd;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none !important;
    line-height: 1.25;

}

.form__row {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__text {
}

.center {
    display: flex;
    justify-content: center;
}

.form__text-field-container {
    position: relative;
}

.form__text-field-input {
}

.form__custom-select {
    position: relative;
    text-align: left;
    outline: none;
}

.form__custom-select .form__custom-select-selected {
    border-radius: 0.25rem;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    padding: 0.5rem 8rem 0.5rem 0.75rem;
    cursor: pointer;
    user-select: none;
}

.form__custom-select .form__custom-select-selected.open {
    border: 1px solid #ad8225;
    border-radius: 6px 6px 0px 0px;
}

.form__custom-select .form__custom-select-selected:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 1em;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.form__custom-select .form__custom-select-items {
    color: #fff;
    border-radius: 0px 0px 6px 6px;
    overflow: hidden;
    border-right: 1px solid #ad8225;
    border-left: 1px solid #ad8225;
    border-bottom: 1px solid #ad8225;
    position: absolute;
    background-color: #0a0a0a;
    left: 0;
    right: 0;
    z-index: 1;
}

.form__custom-select .form__custom-select-items div {
    color: #fff;
    padding-left: 1em;
    cursor: pointer;
    user-select: none;
}

.form__custom-select .form__custom-select-items div:hover {
    background-color: #ad8225;
}

.selectHide {
    display: none;
}

/*.form__selector {*/
/*    box-sizing: border-box;*/
/*    padding: 0.5rem 8rem 0.5rem 0.75rem;*/
/*    background: transparent;*/
/*    border-radius: 0.25rem;*/
/*    border: 1px solid #bdbdbd;*/
/*    !*display: none;*!*/
/*    appearance: none;*/
/*}*/

/*.form__selector-selected {*/
/*    background: #91c2eb;*/
/*}*/
/**/
/*.form__selector-selected:after {*/
/*    position: absolute;*/
/*    content: "";*/
/*    top: 14px;*/
/*    right: 10px;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border: 6px solid transparent;*/
/*}*/

.form__toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.form__toggle-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.form__toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    /*border-radius: 34px;*/
}

.form__toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .form__toggle-slider {
    background-color: #2196f3;
}

input:focus + .form__toggle-slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .form__toggle-slider:before {
    -webkit-transform: translateX(26px);
    /*-ms-transform: translateX(26px);*/
    /*transform: translateX(26px);*/
}

.form__text-field-input {
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.25rem;
    border: 1px solid #bdbdbd;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none !important;
    line-height: 1.25;
}

input[type="text"].form__text-field-input,
input[type="email"].form__text-field-input {
    padding: 1.35rem 0.75rem 0.4rem;
    height: calc(3.25rem + 2px);

}


.form__text-field-input:focus {
    border: 1px solid #91c2eb;
    box-shadow: 0 0 0 0.2rem rgba(145, 194, 235, 0.25);
}

.form__text-field-label {
    display: block;
    margin-bottom: 0.25rem;
    color: #787382;
}

.form__text-field-container textarea.form__text-field-input ~ .form__text-field-label {
    top: -4px
}

.form__text-field-container textarea.form__text-field-input:focus ~ .form__text-field-label,
.form__text-field-container textarea.form__text-field-input:not(:placeholder-shown) ~ .form__text-field-label {
    transform: scale(.72) translateY(-.2rem) translateX(.4rem);
}

.form__text-field-container .form__text-field-label {
    position: absolute;
    /*top: -4px;*/
    top: 2px;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
}

.form__text-field-container .form__text-field-input:focus ~ .form__text-field-label,
.form__text-field-container .form__text-field-input:not(:placeholder-shown) ~ .form__text-field-label {
    opacity: .65;
    transform: scale(.72) translateY(-.6rem) translateX(.4rem);
}

.form__submit-button {
    font-size: 16px;
    font-weight: 600;
    background: #419ada;
    color: white;
    border-radius: 0.25rem;
    padding: .75rem 2rem;
    border: 1px solid dodgerblue;
    outline: none;
}

.form__submit-button:hover {
    border: 1px solid steelblue;
    box-shadow: 0 0 0 0.2rem rgba(65, 154, 218, 0.25);
}
